
p,body {color: #202030;}

h1,h2,h3,h4 {color: #202030;}

a:link    { color: #6A3937 }  /* unvisited links */
a:visited { color: #784c4b }  /* visited links   */
a:hover   { color: #6B654B }  /* user hovers     */
a:active  { color: #6A3937 }  /* active links    */


.wy-side-nav-search {
background: #39304A;
color: #DDCD33;
}
.wy-nav-side {
background: #39304A;
}
.rst-versions .rst-current-version {
background: #39304A;
}

.rst-versions{
border-top:solid 10px #202030;
}
