
p,body {color: #202030;}

h1,h2,h3,h4 {color: #202030;}

a:link    { color: #6A3937 }  /* unvisited links */
a:visited { color: #784c4b }  /* visited links   */
a:hover   { color: #6B654B }  /* user hovers     */
a:active  { color: #6A3937 }  /* active links    */


.wy-side-nav-search:before{
    width: 300px;
    content: " ";
    background-image: url(/img/Gen3.png);
    background-position: center center;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    height: 100px;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.wy-side-nav-search {
margin-top: 90px;
background: #39304A;
color: #DDCD33;
}

.wy-side-nav-search a:link    { color: #ffffff }  /* unvisited links */
.wy-side-nav-search a:visited    { color: #ffffff }  /* unvisited links */
.wy-side-nav-search a:hover    { color: #ffffff }  /* unvisited links */
.wy-side-nav-search a:active    { color: #ffffff }  /* unvisited links */

.wy-nav-side a:link    { color: #ffffff }  /* unvisited links */
.wy-nav-side a:visited    { color: #ffffff }  /* unvisited links */
.wy-nav-side a:hover    { color: #ffffff }  /* unvisited links */
.wy-nav-side a:active    { color: #ffffff }  /* unvisited links */


.wy-nav-side {
background: #39304A;
}
.rst-versions .rst-current-version {
background: #39304A;
}

.rst-versions{
border-top:solid 10px #202030;
}


.navbar > .container .navbar-brand {
  font-size: 2em;
  line-height: 21px !important;
  margin-left: 0rem;
  margin-right: 0rem;
  width: 295px;
  height: 64px;
  padding-top: 1.6rem;
}

.navbar-brand > img {
  width:100%;
  display: inline-block;
}

.navbar-brand > span {
  margin-left: 5rem;
}

.current .logo {
    opacity: 1;
    vertical-align: left;
}
