
p {color: #202030;}

h1 {color: #202030;}
h2 {color: #202030;}
h3 {color: #202030;}
h4 {color: #202030;}


a:link    { color: #6A3937 }  /* unvisited links */
a:visited { color: #784c4b }  /* visited links   */
a:hover   { color: #6B654B }  /* user hovers     */
a:active  { color: #6A3937 }  /* active links    */



.wy-side-nav-search {
background: #222c32;
}
.wy-nav-side {
background: #222c32;
}
.rst-versions .rst-current-version {
background: #222c32;
}

.rst-versions{
border-top:solid 10px #222c32;
}


.navbar {
    background-image: -webkit-linear-gradient(#6A3937,#DDCD33 60%,#6A3937);
    background-image: linear-gradient(#6A3937,#DDCD33 60%,#6A3937);
    background-repeat: no-repeat;
    border-bottom: 1px solid #6A39;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb',endColorstr='#ff1d9ce5',GradientType=0);
    filter: none;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}

/* navbar */
.navbar-default {
    background-color: #DDCD33;
    border-color: #c6b82d
;
}
/* Title */
.navbar-default .navbar-brand {
    color: #c6b82d;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #DDCD33;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #6B654B;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}


















div.col-md-9 h1:first-of-type {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
}

div.col-md-9>p:first-of-type {
    text-align: center;
}

div.col-md-9 p.admonition-title:first-of-type {
    text-align: left;
}

div.col-md-9 h1:first-of-type .headerlink {
    display: none;
}

code.no-highlight {
    color: black;
}

/* Definition List styles */

dd {
    padding-left: 20px;
}
