h1 {
  color: red;
}
h2 {
  color: red;
}

h3 {
  color: red;
}

h4 {
  color: red;
}


.wy-side-nav-search {
background: #222c32;
}
.wy-nav-side {
background: #222c32;
}
.rst-versions .rst-current-version {
background: #222c32;
}

.rst-versions{
border-top:solid 10px #222c32;
}



.navbar {
    background-image: -webkit-linear-gradient(#39304A,#DDCD33 60%,#6A3937);
    background-image: linear-gradient(#39304A,#DDCD33 60%,#6A3937);
    background-repeat: no-repeat;
    border-bottom: 1px solid #202030;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDCD33',endColorstr='#6B654B',GradientType=0);
    filter: none;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}
.navbar-default {
    background-color: #2fa4e7;
    border-color: #1995dc;
}



div.col-md-9 h1:first-of-type {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
}

div.col-md-9>p:first-of-type {
    text-align: center;
}

div.col-md-9 p.admonition-title:first-of-type {
    text-align: left;
}

div.col-md-9 h1:first-of-type .headerlink {
    display: none;
}

code.no-highlight {
    color: black;
}

/* Definition List styles */

dd {
    padding-left: 20px;
}
