
p {color: #202030;}

h1 {color: #202030;}
h2 {color: #202030;}
h3 {color: #202030;}
h4 {color: #202030;}


a:link    { color: #6A3937 }  /* unvisited links */
a:visited { color: #784c4b }  /* visited links   */
a:hover   { color: #6B654B }  /* user hovers     */
a:active  { color: #6A3937 }  /* active links    */


.wy-side-nav-search {
background: #DDCD33;
}
.wy-nav-side {
background: #DDCD33;
}
.rst-versions .rst-current-version {
background: #DDCD33;
}

.rst-versions{
border-top:solid 10px #DDCD33;
}
